Assignment1/1.1/.ropeproject/
Assignment1/1.2/.ropeproject/
Assignment2/2.1/.ropeproject/
Assignment2/2.2/.ropeproject/
Assignment1/s_bkp/
Assignment2/s_bkp/
Assignment2/firewall-auth-sh
Assignment3/bkps/
Assignment3/3.1/
Assignment3/3.2/
Assignment3/additional_runs/
